.card-cat {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.cards {
  display: grid;
  width: 100;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;

}

.card {
  color: white;
  width: 500px;
  text-align: center;
  padding: 100px;

}

.text_for_card {
  color: white;
font-size: xx-large;

}

.card-cat:hover{
transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
transition: ease(0.6s);
}
