.cards {
  display: grid;
  width: 100;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  flex-grow: 1;

}

.card {
  color: white;
  width: 500px;
  text-align: center;
  padding: 100px;

}

.text_for_card {
  color: white;
font-size: xx-large;

}
