
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dvp1v2dej/image/upload/v1665595151/aquarent/banner_tja4uj.jpg);">
  <div class="container">
    <h1 class="mb-2" >Welcome to AquaRent</h1>
    <p>Everything You Need. All Right Here !<br>you can find and rent from a variety of nautics equipment.</p>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query"  placeholder= "Find your equipment here..."/>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
</div>


<div class="container py-4">
  <div class="d-flex align-items-center justify-content-between mb-3">
  <h3>Let's choose your equipment category</h3>
  </div>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to category_path(category), class:"text-decoration-none text_for_card" do %>
          <div class="card-cat" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dvp1v2dej/image/upload/v1665598402/aquarent/water_tzufvy.jpg)">
            <%= category.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
